body {
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    cursor: auto;
}

/* Start of navbar styling */
.navbar {
    min-height: 100px;
    background-size: cover;
    background-color: #00b4d8;
    padding: 6px 8px;
    max-height: 100px;
    position: sticky;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    text-decoration: none;
    list-style: none;
    

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li{
    margin: 0 20px;
    list-style: none;
}

nav ul li a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

nav ul li a:hover{
    color: black;
    border-bottom: 2px solid #e78f38;
    
    
}

nav button{
    background: #e78f38;
    border: none;
    color: #fff;
    padding: 12px 35px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 2rem;
    transition: transform 3s;
    cursor: pointer;
}

nav button:hover{
    scale: .8;
    background-color: #2dc653;

}

.logo {
    width: 80px;
    height: auto;
    margin-left:-40px;
    margin-top: -10px;
}

a {
    text-decoration: none;
    font-size:15px ;
    
}

 nav a{
    margin-top: 1px;
    margin-bottom: auto;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: x-large;
    margin-left: 1px;
    color: #fff;
    white-space: nowrap;
    padding-top: 1px;
    cursor: pointer;
}

a:hover{
    color:#0a0a0a;

}
/* End of navbar styling */

/* START styling homepage home.html */
h1{
    text-align: center;
    font-weight: bolder;
}

.beta {
    text-align: center;
    font-size: x-large;
    
}

/* END styling homepage home.html */


/* START styling terms and condions (terms.html)*/
 .terms{
    text-indent: 2%;
    margin-inline-start: auto;
    background-color: beige;
    border-radius: 8px;
    list-style-type: decimal;

 }
 .term {
    text-align: center;
    text-decoration: underline;
    
 }

 .termss {
    background-color: beige;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


 }


/*END styling terms and condions (terms.html) */